<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>author</key>
	<string>MindNode</string>
	<key>id</key>
	<string>9C214F59-59A6-4AA8-8883-6D19FF8190DE</string>
	<key>title</key>
	<string>To do list</string>
	<key>version</key>
	<integer>4</integer>
</dict>
</plist>
